<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles/profile.css" />
    <link  rel="icon" type="image/x-icon" sizes="400x400" href="../static/icons/logo.png">
  </head>
  <body>
    <div class="slider-holder">
      <div class="slider-slides"></div>
    </div>
    <div class="buttonBox">
      <button class="left">prev</button>
      <button class="right">next</button>
    </div>
    <div>
      <button class="submit">Submit</button>
    </div>
  </body>
  <script src="/static/js/profile.js"></script>
</html>
